html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
}

header {
    background-image: url(mountain-road.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items:center;
}

header, a {
    color: white;
}

header > div {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    flex: 1;
}